@charset "utf=8";
.box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    border-top: solid 5px #414e91;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

img{
    margin-left: 3%;
    width: 300px;
    height: 300px;
}

img:hover{
    top:-5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

h1{
    text-align: center;
}

tr{
    text-align: center;
}

table{
    padding: 20px;
    margin: 0 auto;
    height: 100px;
}

.index{
    font-size: 40px;
    text-align: center;
}